  .bck-google {
    background: #2c8597 !important;
  }
  .bck-xbox {
    background: #27ae60 !important;
  }
  .bck-steam {
    background: #c23a2e !important;
  }
  .bck-psn {
    background: #2f459e !important;
  }
  .bck-itunes {
    background: #e8587f !important;
  }
  .bck-amazon {
    background: #f39c11 !important;
  }
  .bck-spotify {
    background: #61bf61 !important;
  }
  .bck-paypal {
    background: #1d6ca1 !important;
  }
  
  .clr-google {
    background: #2c8597 !important;
  }
  .clr-xbox {
    background: #27ae60 !important;
  }
  .clr-steam {
    background: #c23a2e !important;
  }
  .clr-psn {
    background: #2f459e !important;
  }
  .clr-itunes {
    background: #e8587f !important;
  }
  .clr-amazon {
    background: #f39c11 !important;
  }
  .clr-spotify {
    background: #61bf61 !important;
  }
  .clr-paypal {
    background: #1d6ca1 !important;
  }
  